.nav {
   color: Red;
   text-align: center;
}
.navlinks {
   text-align: center;
   text-decoration: none;
   border: 3px;
   border-radius: 25px; 
   background-color: Red;
}
#topheader {
   color: Lime;
   border: 5px;
   border-color: Red;
   text-align: center;
}
#randomnumberbutton {
   background-color: Red;
   border: 2px;
   border-radius: 20px;
}
#numberoutput {
   text-align: center;
}
#copytextarea {
   text-align: center;
   color: Red;
   background-color: Lime;
}
#copytextoutput {
   color: Blue;
   text-align: center;
}
.csshover {
   background-color: Red;
   height : 100px;
   width : 100px;
}
.footer {
   display: block;
   height: auto;
   background-color: purple;
}
.creditsline {
   color: Red;
}
.creditsabbr {
   color: Red;
}
#belugagif {
   border: 2px;
   border-color: Lime;
}
#topdialogtext {
   color: Khaki;
}
#2topdialogtext {
   color: Blue;
}
#dialog {
   border: solid;
   border-color: Black;
   border-width: 10px;
}
.closedialog {
   background-color: Black;
   color: white;
   border: 5px;
   border-radius: 20px;
}
#Ecredits {
   color: Lime;
}
.timerselect {
   text-align: center;
   background-color: lightblue;
   color: gold;
}
.bottomblock {
   float: right;
   border: 5px;
   height: 150px;
   width: 150px;
   border-color: black;
}
#bottomblocktext {
   color: Lime;
}
#footeremail {
   float: right;
}
